hr {
  background-color: #DAD66F;
  border-width:3px;
  color: rgb(105, 105, 105);
  height: 3px;
  width: 90%;
}

progress {
  background-color: white;
  font-size: 50px;
  width: 290px;
  height: 30px;
}

progress::-webkit-progress-value {
  background-color: blue;
  
}

progress::-webkit-progress-bar {
  background-color: red;
}

#settings, #main {
  color: black;
  font-size: 26px;
  padding: 10px;
}

#main {
  position: relative;
  top: -500px;
}

main div {
 padding: 8px;
}

#buttonstart {
  background-color: #DAD66F;
  border-radius: 30%;
  color: black;
  font-size: 1.2em;
  padding: 20px;
  text-align: center;
}

.item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, main {
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}

.item1 {
  grid-area: user;
  height: 300px;
  opacity: 0.7;
  width: 300px;
}
.item1 img {
  transform: scaleX(-1);
}
.item2 {
  grid-area: header;
  height: 300px;
  padding-left: 12%;
  width: 300px;
}
.item2 h1{
  background-color: black;
  opacity: 0.7;
  font-size: 2.5em;
}
.item2 h2{
  background-color: black;
  font-size: 2em;
  letter-spacing: 5px;
 }

.item3 { 
  grid-area: timer;
  height: 300px;
  width: 300px;
}
.item4 {
  background-color: white;
  border: 10px blue solid;
  border-radius: 10px;
  grid-area: asideL;
  opacity: 0.7;
  height: 600px;
  width: 300px;
 }
 
 .item5 { 
  background-color: white;
  border: 10px #DAD66F solid;
  border-radius: 10px;
  color: rgb(39 133 171 / 1);
  display: grid;
  grid-area: qana;
  height: 600px;
  margin-top:30px;
  padding:20px;
  width: 300px;
 }

.item5 img {
  padding:2px;
}

 .item6 { 
  background-color: white;
  border: 10px red solid;
  border-radius: 10px;
  grid-area: asideR;
  opacity: 0.7;
  height: 600px;
  width: 300px;
 }
.item7 { 
  grid-area: scrol;
  height: 120px;
  width: 900px;
 }
.item8 { 
  grid-area: footer;
  opacity: 0.7;
  height: 300px;
  width: 900px;
 }
 .item9 { 
  height: 200px;
  grid-area: graphic;
  opacity: 0.6;
  left:-600px;
  width: 900px;
 }
 
.grid-container {
  align-items: center; 
  display: grid;
  grid-template-areas:
  'user header timer'
  'asideL qana asideR'
  'scrol scrol scrol'
  'footer footer footer'
  'graphic graphic graphic';

  text-align: center;
  justify-content: center;
  }

  .flying {
    animation: flying 42s linear 10s 1;
    -o-animation: flying 42s linear 10s 1;
    -moz-animation: flying 42s linear 10s 1;
    -webkit-animation: flying 42s linear 10s 1;
    /* move 42s infinite;*/
    position: relative;
  }

  @keyframes flying {
    0% {
      transform: translateX(800px);
      left:600px;
      }
      100% {
      transform: translateX(-800px);
      left:-600px;
      }
  }