.item1 { 
    grid-area: user;
}
  .item2 { 
    grid-area: header;
}
  .item3 { 
    grid-area: timer;
}
  .item4 {
    grid-area: asideL;
 }
  .item5 { 
    grid-area: qana;
 }
 .item6 { 
    grid-area: asideR;
 }
 .item7 { 
    grid-area: scrol;
 }
 .item8 { 
    grid-area: footer;
 }
  
  .grid-container {
    display: grid;
    grid-template-areas:
      'user header timer'
      'asideL qana asideR'
      'asideL scrol asideR'
      'asideL footer asideR';
    gap: 10px;
    padding: 10px;
    text-align: center; 
  }
  
  .grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }