body{
    background-color:#000000;
    background-image: url("images/starfield.jpg");
}

h1{
    background-color:#DAD66F;
    font-size: 7em;
    padding: 10px;
    text-align: center;
    text-shadow: 3px 3px 3px #bbbbbb;
}

h2{
  background-color:#DAD66C; 
  font-size: 1.5em;
}

a{
    color: #DAD66F;
    font-size: 1em;    
}

p{
  font-size: 1.4em;
  text-align: center;
}

nav{
  font-size: 2em;
  text-align: center;
}

button {
  background-color: #DAD66F;
  border-radius: 20%;
  color: black;
  font-size: 1.7em;
  height: 60px;
  
  visibility: hidden;
}

#header, #section {
  margin:auto;
  text-align: center;
  width: auto;
}

.fading {
    position: relative;
    width: 100%;
    min-height: 60vh;
    top: -25px;
    z-index: 1;
  }
  
  .board {
      color: #fdd73d;
      display: flex;
      font-family: 'Pathway Gothic One', sans-serif;
      font-size: 500%;
      font-weight: 600;
      height: 400px;
      justify-content: center;
      letter-spacing: 10px;
      line-height: 250%;
      perspective: 600px;
      position: relative;
      text-align: justify;
  }
  
  .move {
      animation: move 45s linear;
      -o-animation: move 45s linear;
      -moz-animation: move 45s linear;
      -webkit-animation: move 45s linear;
      position: relative;
      top: 9999px;
      transform-origin: 50% 100%;
  }
  
  .move > .title {
      font-size: 90%;
      text-align: center;
  }
  
  .move > .title h1 {
      margin: 0 0 100px;
      text-transform: capitalize;
  }
  
  @keyframes move {
    0% {
      top: 400px;
      transform: rotateX(20deg) translateZ(-300px);
    }
    100% { 
      top: -7000px;
      transform: rotateX(25deg) translateZ(-2500px);
    }
  }

  @-o-keyframes move {
    0% {
      top: 400px;
      transform: rotateX(20deg) translateZ(-300px);
    }
    100% { 
      top: -7000px;
      transform: rotateX(25deg) translateZ(-2500px);
    }
  }

  @-moz-keyframes move {
    0% {
      top: 400px;
      transform: rotateX(20deg) translateZ(-300px);
    }
    100% { 
      top: -7000px;
      transform: rotateX(25deg) translateZ(-2500px);
    }
  }

  @-webkit-keyframes move {
    0% {
      top: 400px;
      transform: rotateX(20deg) translateZ(-300px);
    }
    100% { 
      top: -7000px;
      transform: rotateX(25deg) translateZ(-2500px);
    }
  }