body{
    background-color:#000000;
    background-image: url("images/starfield.jpeg");
}

h1{
    background-color:#DAD66F;
    font-size: 8em;
    padding: 10px;
    text-align: center;
    text-shadow: 3px 3px 3px #bbbbbb;
}

h2{
  background-color:#DAD66C; 
  font-size: 1.5em;
}

p{
  font-size: 1.4em;
}